<div class="animate">

    <div class="container">
        <h1><span class="color">¡Te has registrado con éxito</span> en Mano Amiga! 🎉</h1>

        <br>
        <p>Gracias por ser parte de los <span class="color">primeros en unirse a nuestra comunidad</span>. La plataforma estará disponible muy
            pronto, y nos aseguraremos de que <span class="color">seas uno de los primeros en conseguir clientes</span>.</p>

        <br>
        <p>Cuando la página esté activa, <span class="color">recibirás un correo electrónico</span> con las instrucciones para <span class="color">iniciar sesión</span>,
            <span class="color">acceder a tu perfil</span>, ver tus publicaciones y <span class="color">comenzar a ofrecer tus servicios</span>.</p>

        <br>
        <p>¡Estamos emocionados de tenerte a bordo y <span class="color">esperamos que pronto puedas comenzar a conectar con nuevos
            clientes</span>!</p>

        <br>
        <p><span class="color">¡Gracias por unirte a Mano Amiga!</span> 🚀</p>
    </div>

</div>
