<div  class="animate">
    
    <div class="card-container">
        <h1>¡Registrate en Mano Amiga y <span class="color">asegurá tu lugar antes del lanzamiento</span>! 🚀 </h1>

        <p class="intro">
            <span class="color">Mano Amiga ❤️</span> conecta a personas con habilidades para el hogar con quienes lo
            necesitan.
        </p>

        <p class="desc">
            🔧 Servicios como <span class="color">plomería, electricidad, jardinería</span>. <br>
            📅 <span class="color">Elegí tus horarios</span> y trabajá a tu ritmo. <br>
            💸 <span class="color">Fijá tus precios</span>, sin comisiones. <br><br>
            🚨 Al registrarte ahora, tendrás <span class="color">prioridad para conseguir clientes</span> al momento del
            lanzamiento. <br><br>
            🆓 <span class="color">Registrándote hoy accedés gratis al servicio</span>, que en el futuro será de pago.
        </p>

        <p class="join">
            ¡<span class="color">Unite gratis</span> y se de los primeros!
        </p>

        <button class="btn-register" (click)="logIn()">¡Registrate!</button>
    </div>

</div>